body{
    background-color: gray;
}

header{
    font-size: 5vw;
    color:blue;
}
.aboutmepargraph{
    color:antiquewhite;
}

.drop-cap:first-letter {
    font-size: 2em;
    float: left; 
    margin-right: 4px; 
    line-height: 1; 
}

.id1{
    color: black;
    font-weight: bold;
    font-size: 1vw;
}

.classes{
    font-size: 3vw;
    color: blue;
}

.image-container {
    display: inline-block; 
    margin-right: 20px; 
}

.no-underline {
    text-decoration: none;
}



